.subHeader {
    width: 100%;
    margin-left: 8px;
    padding-bottom: 30px;
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
}

hr {
    margin-top: 0;
}

#stats {
    text-align: right;
    color: rgba(50,70,90,.75);
}

#overdue {
    color: #f6534e;
}

.chart-container {
    display:block;
    width: 100%;
}

@media(min-width:1501px){
    canvas {
        width: 100%!important;
        height: 250px!important;
    }
}