<div class="mat-elevation-z8">
    <table mat-table #table [dataSource]="gb.receivedInvoices" matSort aria-label="Elements" style="width:100%;">
      <!-- Number Column -->
      <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
          <td mat-cell *matCellDef="let row">INV{{row.number}}</td>
        </ng-container>
    
        <!-- Ref Column -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref</th>
          <td mat-cell *matCellDef="let row">{{row.reference}}</td>
        </ng-container>
    
        <!-- From Column -->
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
          <td mat-cell *matCellDef="let row">{{gb.userHexAccToName(row.from)}}</td>
        </ng-container>
    
        <!-- Issue Date Column -->
        <ng-container matColumnDef="issueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</th>
          <td mat-cell *matCellDef="let row">{{row.issueDate | date}}</td>
        </ng-container>
    
        <!-- Due Date Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
          <td mat-cell *matCellDef="let row">{{row.dueDate | date}}</td>
        </ng-container>
    
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="clickable-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openInvoiceModal(row.blockchainIndex)"></tr>
    </table>

  <mat-paginator #paginator
    [length]="gb.receivedInvoices.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>